PORT=3001
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
DIRECT_URL=postgresql://postgres:postgres@localhost:5432/postgres
FRONTEND_URL=http://localhost:3000
NODE_ENV=development
